---
layout: default
title: Home
published: true
---
1c869fed05b65f7761225f730878a342def70cd463a375b7b9

<ul class="tutorial-list">
  {% assign items = site.tutorials | where: "layout", "tutorial" %}

  {% for item in items %}
    <li class="tutorial">
      <h1 class="tutorial-title">
        <a href="{{ item.url | prepend: site.baseurl }}">
          {{ item.title }}
        </a>
      </h1>

      {% if item.date %}
        <time datetime="{{ item.date | date_to_xmlschema }}" class="tutorial-date">{{ item.date | date_to_string }}</time>
      {% endif %}

      {{ item.content | markdownify | split: "</p>" | first }}
    </li>
  {% endfor %}
</div>
