---
layout: default
title: Home
published: true
---
<ul class="tutorial-list">
  {% for tutorial in site.tutorials %}
    <li class="tutorial">
      <h1 class="tutorial-title">
        <a href="{{ tutorial.url | prepend: site.baseurl }}">
          {{ tutorial.title }}
        </a>
      </h1>

      {% if tutorial.date %}
        <time datetime="{{ tutorial.date | date_to_xmlschema }}" class="tutorial-date">{{ tutorial.date | date_to_string }}</time>
      {% endif %}

      {{ tutorial.content | markdownify | split: "</p>" | first }}
    </li>
  {% endfor %}
</div>
