<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript">
  var adsbygoogle = [];
  adsbygoogle.push({
    google_ad_client: "{{ site.google_ad_client }} ",
    enable_page_level_ads: true
  });

  document.addEventListener('DOMContentLoaded', function() {
    var content = document.querySelector('.content');
    var slots = [];

    {% for ad_slot in site.google_ad_units %}
      var ins = document.createElement('ins');
      ins.setAttribute('class', 'advert adsbygoogle');
      ins.setAttribute('data-ad-client', '{{ site.google_ad_client }}');
      ins.setAttribute('data-ad-slot', '{{ ad_slot }} ');
      ins.setAttribute('data-ad-format', 'auto');
      slots.push(ins);
    {% endfor %}

    var above = 0;
    var headings = content.querySelectorAll('h2');

    headings[above].parentNode.insertBefore(slots[0], headings[above]);

    var middle = Math.floor(headings.length / 2);
    headings[middle].parentNode.insertBefore(slots[1], headings[middle]);

    var below = headings.length - 1;
    headings[below].parentNode.insertBefore(slots[2], headings[below]);

    slots.forEach(function() {
      adsbygoogle.push({});
    });
  });
</script>
