// Colophon
//

$colophon-background-color: #f9f9f9!default;
$colophon-color: inherit!default;

.colophon {
  background-color: $colophon-background-color;
  color: $colophon-color;

  a {
    color: inherit;
  }
}
