// Layout
//

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex: 1;
}

.content-main {
  flex: 0 0 40em;
}

.content-sidebar {
  flex: 0 0 300px;
}

.masthead,
.content,
.colophon {
  padding: 2em 4em;
}
