// Layout
//

.container {
  display: flex;
  flex-direction: column;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
}

.masthead {
}

.content {
  flex: 1;
}

.colophon {
  margin-bottom: 2rem;
}

.content,
.colophon {
  max-width: 38em;
  align-self: center;
}
