.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;
}

.logo-image {
  margin: 0;
  padding: 0;
  max-width: 5em;
}

.logo-title {
  font-size: 1.2rem;
}

.logo-image + .logo-title {
  margin-left: 1em;
}
