// Masthead
//

$masthead-background-color: inherit!default;
$masthead-color: #333333!default;

.masthead {
  background-color: $masthead-background-color;
  color: $masthead-color;

  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    color: inherit;
  }
}

.masthead-brand {
  padding: 0;
  margin: 0;
}

.masthead-title {
  margin: 1em 0;
  color: inherit;

  .masthead-tagline {
    font-size: 75%;
    font-weight: 400;
    opacity: 0.5;
  }
}
