<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
      {% capture style %}
        @import "base";
        @import "type";

        @import "syntax";
        @import "code";

        @import "layout";
        @import "masthead";
        @import "post";
        @import "pagination";
        @import "advert";
        @import "colophon";
      {% endcapture %}

      {{ style | scssify | trim }}
    </style>

    {% if site.google_ad_client %}
      {% include google_adsense.html %}
    {% endif %}

    {% feed_meta %}
    {% seo %}
  </head>

  <body class="container">
    {% include masthead.html %}
    {% include google_ad.html slot="6811327623" %}

    <main class="content">
      <section class="content-main">
        {{ content }}
      </section>

      <aside class="content-sidebar">
        {% include google_ad.html slot="1822724824" %}
        {% include google_ad.html slot="1403922425" %}
      </aside>
    </main>

    {% include colophon.html %}

    {% if site.google_tracking_id %}
      {% include google_analytics.html %}
    {% endif %}

  </body>
</html>
